{# empty Twig template #}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="row">
   
    <div class="col-md-6">
        {{ form.candidate_name }}
    </div>
    <div class="col-md-6">
        {{ form.mobile_number}}
    </div>
    <div class="col-md-6">
        {{ form.candidate_mail}}
    </div>
    <div class="col-md-6">
        {{ form.candidate_age}}
    </div>
    <div class="col-md-6">
        {{ form.candidate_gender}}
    </div>
    <div class="col-md-6">
        {{ form.state}}
    </div>
    <div class="col-md-6">
        {{ form.city}}
    </div>
    <div class="col-md-6">
        {{ form.web_site}}
    </div>
    <div class="col-md-6">
        {{ form.submit}}
    </div>

</div>